In [1]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
inputs = df.drop('salary_more_then_100k' , axis="columns")
target = df['salary_more_then_100k']

In [16]:
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

inputs['company_n'] = le_company.fit_transform(df.company)
inputs['job_n'] = le_company.fit_transform(df.job)
inputs['degree_n'] = le_company.fit_transform(df.degree)

inputs_n = inputs.drop(['company','job','degree'] , axis="columns")

In [21]:
from sklearn import tree

model = tree.DecisionTreeClassifier()
model.fit(inputs_n.values,target)

DecisionTreeClassifier()

In [24]:
model.score(inputs_n.values,target)

1.0

In [25]:
ans = model.predict([[2,2,1]])
ans

array([0], dtype=int64)