In [47]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline

In [48]:
df = pd.read_csv('car_data.csv',index_col=0)
df.head()

,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [49]:
#First what we need to do is clean up the dataset
df = df.drop(['wheel_base','length','width','height','curb_weight','engine_type','num_of_cylinders' , 'engine_size' , 'fuel_system' , 'compression_ratio','horsepower','peak_rpm','city_mpg' , 'highway_mpg'] , axis="columns")
df

,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,price
1,alfa-romero,gas,std,two,convertible,rwd,front,13495
2,alfa-romero,gas,std,two,convertible,rwd,front,16500
3,alfa-romero,gas,std,two,hatchback,rwd,front,16500
4,audi,gas,std,four,sedan,fwd,front,13950
5,audi,gas,std,four,sedan,4wd,front,17450
...,...,...,...,...,...,...,...,...
201,volvo,gas,std,four,sedan,rwd,front,16845
202,volvo,gas,turbo,four,sedan,rwd,front,19045
203,volvo,gas,std,four,sedan,rwd,front,21485
204,volvo,diesel,turbo,four,sedan,rwd,front,22470
205,volvo,gas,turbo,four,sedan,rwd,front,22625