In [22]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
df = df.drop(['PassengerId','Name','Ticket','Cabin','SibSp','Parch','Embarked'],axis="columns")

In [23]:
inputs = df.drop('Survived',axis="columns")
target = df['Survived']

In [24]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [25]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
inputs['Sex'] = labelencoder.fit_transform(inputs.Sex)

In [29]:
from sklearn.model_selection import train_test_split

xTrain , xTest , yTrain , yTest = train_test_split(inputs,target,test_size=0.3,random_state=1)

In [36]:
from sklearn import tree

inputs.Age = inputs.Age.fillna(inputs.Age.mean())

model = tree.DecisionTreeClassifier(criterion="gini")
model.fit(xTrain.values,yTrain)

DecisionTreeClassifier()

In [38]:
model.score(xTest.values,yTest)

0.7574626865671642

In [42]:
inputs

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    0  38.000000  71.2833
2         3    0  26.000000   7.9250
3         1    0  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    0  19.000000  30.0000
888       3    0  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [40]:
model.predict([[3,1,25,90000]])

array([0], dtype=int64)